body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 45vh;
    font-size:12em;
    font-weight: 800;
    user-select: none;
}

.moving-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: blue;
    position: absolute;
    user-select: none;
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.moving-element h2{
    margin: 0;
    padding: 0;
    user-select: none;
}