body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.moving-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: blue;
    position: absolute;
}
.moving-element h2{
    margin: 0;
    padding: 0;
}